@import "/styles/reset.css";
.main-wraper {
    width: 100%;
    height: 100%;
    background: #1C2023;
    
}
.nav {

background: url(/photo/GodOfWarBack.jpg) ;
width: 1363px;
height:764.204px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;


}
.bacground_img{


}
.nav-burger_menu {
}
.timer-wraper {
}
.countdown_timer {
}
.timer {
}